.header {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
}

.header__container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 13px 16px;
}

.img {
  display: inline-block;
  width: 118px;
  height: 28px;
 
}


